{{>header}}
<script>
    window.Handlebars.registerHelper('select', function (value, options) {
        var $el = $('<select />').html(options.fn(this));
        $el.find('[value="' + value + '"]').attr({ 'selected': 'selected' });
        return $el.html();
    });
</script>
<div class="sidebar active">
    <div class="logo_content">
        <div class="logo">
            <box-icon type='solid' name='home'></box-icon>
            <i class='bx bxs-home'></i>
            <div class="logo_name">Tathastu Interio</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/dashboard">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Dashboard</spam>
            </a>
        </li>
        <li style="margin-top: 10px;">
            <a href="/employee/list">
                <i class='bx bxs-user'></i>
                <spam class="links_name color">Employees</spam>
            </a>
        </li>
        <li style="; margin-bottom: 10px;">
            <a href="#" class="curr_page" style="margin-top: 10px;">
                <i class='bx bx-grid-small' style="color:black"></i>
                <spam class="links_name" style="color:Black; ">Leads</spam>
            </a>
        </li>
        <li style="margin-top: 10px;">
            <a href="/ledger">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Ledger</spam>
            </a>
        </li>
        {{!-- <li style="margin-top: 10px;">
            <a href="/project">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">projects</spam>
            </a>
        </li> --}}

        {{!-- <li style="margin-top: 10px;">

            <a href="/setting">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">settings</spam>
            </a>
        </li> --}}
        <li class="row_li" style="margin-left: 40px; width: 150px;border-color: black;margin-top: 20px;">
            <form action="/">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')"
                    class="form-control selectpicker" style="color: white;background-color: black;">
                    <option value="">Settings</option>
                    <option value="/passwordReset">Password Reset</option>

                </select>
            </form>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <!-- <img src="profile.jpg" alt=""> -->
                <div class="name_job">
                    <div class="name">jayesh kaushal</div>
                    <div class="job"> web Designed</div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container-lg" style="margin-left:250px;margin-right:20px">
    <table class="table table-striped  emp_teable" style="margin-top: 20px">
        <thead class="thead-dark">

            <tr>
                <th scope="col" style="text-align: end"> </th>
                <th scope="col">
                    <h3 style="text-align: end;">Lead List</h3>
                </th>
                <th scope="col" style="text-align: end"> <button type="button" class="btn btn-info "><a
                            href="/insertlead" style="color: #fff;">
                            <h4>+ Add New</h4>
                        </a></button></th>


            </tr>
        </thead>

    </table>
    <div class="col-auto">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Excel
                    sheet download</button>
            </div>
            <div class="col-md-6 mb-3">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">


                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by name"
                        title="Type in a name" class="form-control">
                    <div class="input-group-prepend"></div>
                    <div class="input-group-text" style="background-color: #fff;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
        </div>
    </div>
</div>

<table class="table table-striped  emp_table " style="width: 2800px; margin-left: 15%;" id="myTable">

    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width:200px;"><input type="checkbox" onClick="toggle(this)" /> All</th>
            <th scope="col" style="width:600px;">Customer Name</th>
            {{!-- <th scope="col">Contact</th> --}}
            {{!-- <th scope="col">City</th> --}}

            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">City</th>
            <th scope="col" style="display:none;">Budget</th>
            <th scope="col">Enquiry</th>

            <th scope="col" style="display:none;">Type of propertie</th>
            <th scope="col" style="display:none;">Type Of Room</th>
            <th scope="col">Properties</th>
            <th scope="col" style="display:none;">Type Of Property</th>
            <th scope="col" style="display:none;">Last Follow Up</th>
            <th scope="col" style="display:none;">Next Follow Up</th>
            <th scope="col" style="display:none;">When the Service Wanted</th>
            {{!-- <th scope="col">Employee add</th> --}}
            <th scope="col">Lead Executive</th>
            <th scope="col">Status</th>
            <th scope="col" style="display:none;">next person to follow</th>
            <th scope="col" style="display:none;">last Person Follow</th>
            <th scope="col">Floor Plane</th>
            {{!-- <th scope="col">Final 3D</th> --}}
            <th scope="col">Quotation status</th>
            <th scope="col"> View</th>
            {{!-- <th scope="col">Test</th> --}}
            <th scope="col">Send the message</th>
            {{!-- <th scope="col">Testing</th> --}}
            <th scope="col" style="width: 150px;text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        {{!-- <tr>

            <td>Rajesh sharma </td>
            <td>9826088011</td>
            <td>indore</td>
            <td>2,00000</td>
            <td>painting</td>
            <td>rajeshsharna@gmail.com</td>
            <td>53/2 vjaya nagar indore</td>
            <td>commerical</td>
            <td>2BHK</td>
            <td>OLD property</td>
            <td>07/24/2021</td>
            <td>07/26/2021</td>
            <td>10/02/2021</td>
            <td style="text-align: center ;">
            <td>
                <a href="/employee/{{employee._id}}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
            <td>
                <a href="#">
                    <button type="button" class="btn btn-success">Edit</button>
                </a>
            </td>
            </td>

        </tr>
        <tr>

            <td>raju verma </td>
            <td>9826088012</td>
            <td>ujjain</td>
            <td>5,00000</td>
            <td>renovation</td>
            <td>rajuverma@gmail.com</td>
            <td>473/2 gandhi nagar ujjain</td>
            <td>commerical</td>
            <td>5BHK</td>
            <td>OLD property</td>
            <td>06/24/2021</td>
            <td>06/26/2021</td>
            <td>10/02/2021</td>
            <td style="text-align: center ;">
            <td>
                <a href="/employee/{{employee._id}}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
            <td>
                <a href="#">
                    <button type="button" class="btn btn-success">Edit</button>
                </a>
            </td>
            </td>



        </tr> --}}
        {{!-- <tr>

            <td>rahul</td>
            <td>9826088013</td>
            <td>design</td>
            <td>confirm</td>
            <td>johni</td>
            <td>emp8</td>
            <td>

                <a href="/editEmp">
                    <i class='bx bxs-edit'></i></a>
                </i> &nbsp;
                <i class='bx bxs-x-circle'></i>
            </td>

        </tr>
        <tr>

            <td>sonali</td>
            <td>9826088014</td>
            <td>design</td>
            <td>confirm</td>
            <td>jayant</td>
            <td>emp9</td>
            <td>

                <a href="/editEmp">
                    <i class='bx bxs-edit'></i></a>
                </i> &nbsp;
                <i class='bx bxs-x-circle'></i>
            </td>

        </tr>
        <tr>

            <td>ramesh</td>
            <td>9826088015</td>
            <td>design</td>
            <td>calling</td>
            <td>mark</td>
            <td>emp6</td>
            <td>

                <a href="/editEmp">
                    <i class='bx bxs-edit'></i></a>
                </i> &nbsp;
                <i class='bx bxs-x-circle'></i>
            </td> --}}


            {{!-- {{#each lead}}
        <tr>
            <td>{{this.cust_name}}</td>
            <td>{{this.contact}}</td>
            <td>{{this.enquiry}}</td>
            <td>{{this.action}}</td>
            <td>{{this.assigned_ID}}</td>
            <td>{{this.assigned_emp}}</td>
            <td>{{this.Status}}</td>
            <td>{{this.Status}}</td>
            <td>{{this.Status}}</td>
            <td>{{this.Status}}</td>
            <td>{{this.Status}}</td>
            <td></td>
            <td style="text-align: center;">
                <a href="/employee/{{employee._id}}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-success">Edit</button>
                </a>
            </td>
        </tr>
        {{/each}} --}}

        {{#each lead}}
        <tr>
            <td id="excel"><input type="checkbox" name="foo" value="bar1"><br /><br /></td>
            <td style="text-transform: capitalize;style=width: 200px;" id="custname">{{this.cust_name}}
                {{!-- <br />{{this.phone}}<br / --}} {{!-->{{this.city}} --}}
            </td>
            {{!-- <td><button type="button" class="btn btn-primary"> View <i class="fa fa-eye"
                        aria-hidden="true"></i></button></td> --}}

            <td id="emailid">{{this.email}}</td>
            <td id="phoneid">{{this.phone}}</td>
            <td style="text-transform: capitalize;" id="city">{{this.city}}</td>
            <td style="text-transform: capitalize;display:none;" id="budget">{{this.budget}}</td>
            <td style="text-transform: capitalize;" id="enqiury">{{this.enqiury}}</td>
            <td style="display: none;" id="customer_property">{{this.customer_property}}</td>
            <td id="property_status">{{this.property_status}}</td>
            <td style="display:none;" id="no_room">{{this.no_room}}</td>
            {{!-- <td>status of properties</td> --}}
            <td style="display:none;" id="follow_last">{{this.follow_last}}</td>
            <td style="display:none;" id="follow_next">{{this.follow_next}}</td>
            <td style="display:none;" id="service_wanted">{{this.service_wanted}}</td>
            <td style="text-transform: capitalize;" id="emplyee_working">{{this.emplyee_working}}</td>
            <td style="text-transform: capitalize;" id="project_status">{{this.project_status}}</td>
            <td style="text-transform: capitalize;display:none;" id="follow_next_person">{{this.follow_next_person}}
            </td>
            <td style="text-transform: capitalize;display:none;" id="follow_last_person">{{this.follow_last_person}}
            </td>
            <td>{{this.floor_two_d}}</td>
            {{!-- <td>{{this.floor_three_d}}</td> --}}
            <td>{{this.final_quotation}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerView">View <i
                        class="fa fa-eye" aria-hidden="true"></i></button></td>
            {{!-- <td> <button class="btn btn-primary btnDemo">hello</button></td> --}}
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i
                        class="fa fa-comment fa-lg" aria-hidden="true"></i> SMS</button></td>
            <td><button type="button" class="btn btn-primary" id="testbutton" data-toggle="modal"
                    data-target="#customerView">
                    {{!-- data-toggle="modal" data-target="#customerViewtest"> --}}
                    <i class="fa fa-comment fa-lg" aria-hidden="true"></i> Test</button></td>
            {{!-- <td><button type="button" class="btn btn-primary openBtn" data-toggle="modal"
                    data-target="#example">this is it</button> --}}

            <td style="text-align: center;">
                {{!-- <a href="/employee/{{employee._id}}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a> --}}
                <a href="/lead/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true" style="color:black;"></i>
                </a>
                <a href="/leadedit/{{this._id}}">
                    <i class="fas fa-edit" style="color:black;"></i>
                </a>
                {{!-- <a href="/projectadd/{{this._id}}">
                    <i class="fa fa-paper-plane" style="color:black;"></i>
                </a> --}}

            </td>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Sending message</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/sendMessage" method="POST">
                                <div class="form-group">
                                    <label for="number"> Enter Number</label>
                                    <input type="text" id="numbers" name="numbers" value="{{this.phone}}">
                                </div>
                                <div class="form-group">
                                    <label for="message">Enter Message</label>
                                    <textarea rows="4" cols="50" name="comment" id="message" name="message"
                                        form="usrform">Enter text here...</textarea>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="send message" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
                    </div>
                </div>
            </div>
            {{!--
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> --}}

            <!-- customer view Modal customerView-->
            <div class="modal fade" id="customerView" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="border-radius: 20%;">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Customer details</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Text input-->
                            {{!--
                             <div class="form-group row" style="background-color: red; padding: 0px;margin : 0px;">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Customer name : </h6>
                                </label>
                                <div class="col-sm-7 inputGroupContainer">
                                    <div class="input-group">
                                        <label class="col-sm-12 control-label">
                                            <h6 style="text-align: left;text-transform: capitalize;">{{this.cust_name}}
                                            </h6><br> --}}
                                            {{!-- <h6 style="text-align: right;">City : {{this.city}}&#10;Email :
                                                {{this.email}}&#10;Budget : {{this.budget}}&#10;Enquiry :
                                                {{this.enqiury}}&#10;Type of Room :
                                                {{this.customer_property}}&#10;Status Of Properties :
                                                {{this.property_status}}&#10;Employee working :
                                                {{this.emplyee_working}}&#10;status : {{this.project_status}} --}}
                                                {{!--
                                        </label>
                                    </div>
                                </div>
                            </div> --}}

                            {{!-- phone number --}}
                            {{!-- <div>
                                <h6 style="text-align: right;">Customer name : </h6>
                                <h6 style="text-align: left;text-transform: capitalize;">{{this.cust_name}}</h6><br>
                            </div> --}}

                            {{!-- customer name --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;text-transform: capitalize;">Customer name :</h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <strong>
                                       
                                        
                                        <h6 id="custnamemodel"></h6>
                                        
                                    </strong>
                                </label>
                            </div>

                            {{!-- customer phone no --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Phone : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;" id="phonemodel"></h6>
                                </label>
                            </div>

                            {{!-- customer email --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Email : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;" id="emailmodel"></h6>
                                </label>
                            </div>

                            {{!-- customer city --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">City : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;" id="citymodel"></h6>
                                </label>
                            </div>

                            {{!-- customer budget --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Budget : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;" id="budgetmodel"></h6>
                                </label>
                            </div>

                            {{!-- customer budget --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Enquiry : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;" id="enqiurymodel"></h6>
                                </label>
                            </div>

                            {{!-- customer type of room --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Type of room : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.customer_property}}
                                    </h6>
                                </label>
                            </div>


                            {{!-- customer type of status of properties --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Status of properite : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;" id="property_statusmodel"></h6>
                                </label>
                            </div>


                            {{!-- customer type of status of properties --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Type of properties : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;" id="no_roommodel"></h6>
                                </label>
                            </div>

                            {{!-- customer last follow up --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Last flow up : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;" id="follow_lastmodel"></h6>
                                </label>
                            </div>

                            {{!-- customer last follow up --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Next flow up : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_next}}</h6>
                                </label>
                            </div>

                            {{!-- when customer service wanted --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Customer service wanted : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.service_wanted}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- employees working on project --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Employee working on project:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.emplyee_working}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- status of project --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Status of project:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.project_status}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- Next person to follow --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Next pserson to follow:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_next_person}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- Next person to follow --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Last pserson to follow:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_last_person}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- Floor 2D plane--}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Floor 2D plane:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.floor_two_d}}</h6>
                                </label>
                            </div>


                            {{!-- Floor 3D plane--}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Floor 3D plane:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.floor_three_d}}</h6>
                                </label>
                            </div>

                            {{!-- Final Quotation status --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Final Quotation status:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.final_quotation}}
                                    </h6>
                                </label>
                            </div>


                            {{!-- comments--}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">comment :</h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nobis at hic, maxime esse, consequuntur rem
                                        pariatur obcaecati dolore vel aliquid voluptatem. Vel maiores quisquam incidunt,
                                        cum id numquam accusamus minima.</h6>
                                </label>
                            </div>



                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                style="width: 20%;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- this is an test --}}
            <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">My Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- customer view Modal customerView-->
            <div class="modal fade" id="customerViewtest" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="border-radius: 20%;">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Customer details</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Text input-->
                            {{!-- <div class="form-group row" style="background-color: red; padding: 0px;margin : 0px;">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Customer name : </h6>
                                </label>
                                <div class="col-sm-7 inputGroupContainer">
                                    <div class="input-group">
                                        <label class="col-sm-12 control-label">
                                            <h6 style="text-align: left;text-transform: capitalize;">{{this.cust_name}}
                                            </h6><br> --}}
                                            {{!-- <h6 style="text-align: right;">City : {{this.city}}&#10;Email :
                                                {{this.email}}&#10;Budget : {{this.budget}}&#10;Enquiry :
                                                {{this.enqiury}}&#10;Type of Room :
                                                {{this.customer_property}}&#10;Status Of Properties :
                                                {{this.property_status}}&#10;Employee working :
                                                {{this.emplyee_working}}&#10;status : {{this.project_status}} --}}
                                                {{!--
                                        </label>
                                    </div>
                                </div>
                            </div> --}}

                            {{!-- phone number --}}
                            {{!-- <div>
                                <h6 style="text-align: right;">Customer name : </h6>
                                <h6 style="text-align: left;text-transform: capitalize;">{{this.cust_name}}</h6><br>
                            </div> --}}

                            {{!-- customer name --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;text-transform: capitalize;">Customer name :</h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <strong>
                                        <h6 style="text-align: left;" id="test_customer">test cumstoer</h6>
                                    </strong>
                                </label>
                            </div>

                            {{!-- customer phone no --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Phone : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;">{{this.phone}}</h6>
                                </label>
                            </div>

                            {{!-- customer email --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Email : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;">{{this.email}}</h6>
                                </label>
                            </div>

                            {{!-- customer city --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">City : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.city}}</h6>
                                </label>
                            </div>

                            {{!-- customer budget --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Budget : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.budget}}</h6>
                                </label>
                            </div>

                            {{!-- customer budget --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Enquiry : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.enqiury}}</h6>
                                </label>
                            </div>

                            {{!-- customer type of room --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Type of room : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.customer_property}}
                                    </h6>
                                </label>
                            </div>


                            {{!-- customer type of status of properties --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Status of properite : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.property_status}}
                                    </h6>
                                </label>
                            </div>


                            {{!-- customer type of status of properties --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Type of properties : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.no_room}}</h6>
                                </label>
                            </div>

                            {{!-- customer last follow up --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Last flow up : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_last}}</h6>
                                </label>
                            </div>

                            {{!-- customer last follow up --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Next flow up : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_next}}</h6>
                                </label>
                            </div>

                            {{!-- when customer service wanted --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Customer service wanted : </h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.service_wanted}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- employees working on project --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Employee working on project:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.emplyee_working}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- status of project --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Status of project:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.project_status}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- Next person to follow --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Next pserson to follow:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_next_person}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- Next person to follow --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Last pserson to follow:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.follow_last_person}}
                                    </h6>
                                </label>
                            </div>

                            {{!-- Floor 2D plane--}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Floor 2D plane:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.floor_two_d}}</h6>
                                </label>
                            </div>


                            {{!-- Floor 3D plane--}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Floor 3D plane:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.floor_three_d}}</h6>
                                </label>
                            </div>

                            {{!-- Final Quotation status --}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">Final Quotation status:</h6>
                                </label>

                                <label class="col-sm-6 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">{{this.final_quotation}}
                                    </h6>
                                </label>
                            </div>


                            {{!-- comments--}}
                            <div style="flex-direction: row; ">
                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: right;">comment :</h6>
                                </label>

                                <label class="col-sm-5 control-label">
                                    <h6 style="text-align: left;text-transform: capitalize;">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Nobis at hic, maxime esse, consequuntur rem
                                        pariatur obcaecati dolore vel aliquid voluptatem. Vel maiores quisquam incidunt,
                                        cum id numquam accusamus minima.</h6>
                                </label>
                            </div>



                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                style="width: 20%;">Close</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Sending message</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/sendMessage" method="POST">
                                <div class="form-group">
                                    <label for="number"> Enter Number</label>
                                    <input type="text" id="numbers" name="numbers" value="{{this.phone}}">
                                </div>
                                <div class="form-group">
                                    <label for="message">Enter Message</label>
                                    <textarea id="message" name="message" rows="12" cols="60"
                                        style="text-transform: uppercase;">
                                    this is testing
                                </textarea>


                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="send message" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
                    </div>
                </div>
            </div>



        </tr>
        {{/each}}

    </tbody>
</table>
</div>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
    $('.openBtn').on('click', function () {
        $(.modal - body).load('content.html', function () {
            $('#example').modal({ show: ture });
        })
    })


        //function myFunction() {
            //var input, filter, table, tr, td, i, txtValue;
            //input = document.getElementById("myInput");
            //filter = input.value.toUpperCase();
            //table = document.getElementById("myTable");
            //tr = table.getElementsByTagName("tr");
            //for (i = 0; i < tr.length; i++) {
            //    td1 = tr[i].getElementsByTagName("td")[0];
            //    //td2 = tr[i].getElementsByTagName("td")[1];
            //    //td3 = tr[i].getElementsByTagName("td")[2];
            //    //td4 = tr[i].getElementsByTagName("td")[3];
            //  //  td5 = tr[i].getElementsByTagName("td")[4];
            //    if (td1 ) {
            //        txtValue1 = td1.textContent || td1.innerText;
            //       // txtValue2 = td2.textContent || td2.innerText;
            //       // txtValue3 = td3.textContent || td3.innerText;
            //       // txtValue4 = td4.textContent || td4.innerText;
            //        
            //        if ((txtValue1.toUpperCase().indexOf(filter) > -1) ) {
            //            tr[i].style.display = "";
            //        } else {
//
            //            tr[i].style.display = "none";
//
            //        }
            //    }
            //}

         //   console.log("working");
     //   }


</script>
<script>

    
  

    $(function () {
        $('#myTable tr').on('click', '#testbutton', function () {
            
            var currentRow      = $(this).closest("tr");
            var custname        = currentRow.find("td:eq(1)").text();
            var email           = currentRow.find("td:eq(2)").text();
            var phone           = currentRow.find("td:eq(3)").text();
            var city            = currentRow.find("td:eq(4)").text();
            var budget          = currentRow.find("td:eq(5)").text();
            var enqiury         = currentRow.find("td:eq(6)").text();
            var property_status = currentRow.find("td:eq(7)").text();
            
            var no_room         = currentRow.find("td:eq(8)").text();
            var follow_last     = currentRow.find("td:eq(9)").text();
           
            //let customer_property = 'jquery';
            //let property_status = 'jquery';
            //let no_room = 'jquery';
            //let follow_last = 'jquery';
            let follow_next = 'jquery';
            let service_wanted = 'jquery';
            let emplyee_working = 'jquery';
            let project_status = 'jquery';
            let follow_next_person = 'jquery';
            let follow_last_person = 'jquery';
            let floor_two_d = 'jquery';
            let final_quotation = 'jquery';


          
           
            $('#follow_next', this).each(function () {
                follow_next = $(this).text();
            })
            $('#service_wanted', this).each(function () {
                service_wanted = $(this).text();
            })
            $('#emplyee_working', this).each(function () {
                emplyee_working = $(this).text();
            })
            $('#project_status', this).each(function () {
                project_status = $(this).text();
            })
            $('#follow_next_person', this).each(function () {
                follow_next_person = $(this).text();
            })
            $('#follow_last_person', this).each(function () {
                follow_last_person = $(this).text();
            })
            $('#floor_two_d', this).each(function () {
                floor_two_d = $(this).text();
            })
            $('#final_quotation', this).each(function () {
                final_quotation = $(this).text();
            })

            

        
            $('#custnamemodel').text(custname);
            $('#phonemodel').text(phone);
            $('#emailmodel').text(email);
            $('#citymodel').text(city);
            $('#budgetmodel').text(budget);
            $('#enqiurymodel').text(enqiury);
            $('#property_statusmodel').text(property_status);
            $('#no_roommodel').text(no_room);
            $('#follow_lastmodel').text(follow_last);
            $("#customerView").modal('show');
            
        });
    });

    function toggle(source) {
        checkboxes = document.getElementsByName('foo');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    $(document).ready(function () {
        $(".btnDemo").on('click', function () {
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.text();
            var str = currentRow.find("#emailid").text();
            // var col2 = currentRow.find("td:eq(1)").text();
            // var col3 = currentRow.find("td:eq(2)").text();

            alert(str);
            // $('#customerView').modal('show');

        })
    })
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            td3 = tr[i].getElementsByTagName("td")[2];
            td4 = tr[i].getElementsByTagName("td")[3];
            td5 = tr[i].getElementsByTagName("td")[4];
            td6 = tr[i].getElementsByTagName("td")[5];
            td7 = tr[i].getElementsByTagName("td")[6];
            td8 = tr[i].getElementsByTagName("td")[7];
            td9 = tr[i].getElementsByTagName("td")[8];
            td13 = tr[i].getElementsByTagName("td")[12];
            if (td1 || td2 || td3 || td4 || td5 || td6 || td7 || td8 || td9 || td13) {
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtValue3 = td3.textContent || td3.innerText;
                txtValue4 = td4.textContent || td4.innerText;
                txtValue5 = td5.textContent || td5.innerText;
                txtValue6 = td6.textContent || td6.innerText;
                txtValue7 = td7.textContent || td7.innerText;
                txtValue8 = td8.textContent || td8.innerText;
                txtValue9 = td9.textContent || td9.innerText;
                txtValue13 = td13.textContent || td13.innerText;

                if ((txtValue1.toUpperCase().indexOf(filter) > -1) || (txtValue2.toUpperCase().indexOf(filter) > -1)
                    || (txtValue3.toUpperCase().indexOf(filter) > -1) || (txtValue4.toUpperCase().indexOf(filter) > -1)
                    || (txtValue5.toUpperCase().indexOf(filter) > -1) || (txtValue6.toUpperCase().indexOf(filter) > -1)
                    || (txtValue7.toUpperCase().indexOf(filter) > -1) || (txtValue8.toUpperCase().indexOf(filter) > -1)
                    || (txtValue9.toUpperCase().indexOf(filter) > -1) || (txtValue13.toUpperCase().indexOf(filter) > -1)) {
                    tr[i].style.display = "";
                } else {

                    tr[i].style.display = "none";

                }
            }
        }
    }
</script>