{{>header}}
<div class="sidebar active">
    <div class="logo_content">
        <div class="logo">
            <box-icon type='solid' name='home'></box-icon>
            <i class='bx bxs-home'></i>
            <div class="logo_name">Tathastu Interio</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li style="row_li;margin-top: 10px;">
            <a href="/dashboard">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Dashboard</spam>
            </a>
        </li>
        <li style="row_li;margin-top: 10px;">
            <a href="/employee/list">
                <i class='bx bxs-user'></i>
                <spam class="links_name">Employees</spam>
            </a>
        </li>
        <li style="row_li;margin-top: 10px;">
            <a href="/lead">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Leads</spam>
            </a>
        </li>
        <li style="row_li;margin-top: 10px;">
            <a href="#" class="curr_page" style="margin-top: 10px;">
                <i class='bx bx-grid-small' style="color:black"></i>
                <spam class="links_name" style="color:Black">projects</spam>
            </a>
        </li>

        {{!-- <li style="row_li;margin-top: 10px;">

            <a href="/setting">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">settings</spam>
            </a>
        </li> --}}
        <li class="row_li" style="margin-left: 40px; width: 150px;border-color: black;margin-top: 20px;">
            <form action="/">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')"
                    class="form-control selectpicker" style="color: white;background-color: black;">
                    <option value="">Settings</option>
                    <option value="/passwordReset">Password Reset</option>

                </select>
            </form>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <!-- <img src="profile.jpg" alt=""> -->
                <div class="name_job">
                    <div class="name">jayesh kaushal</div>
                    <div class="job"> web Designed</div>
                </div>
            </div>

        </div>
    </div>
</div>





<div class="container-lg" style="margin-left:250px;margin-right:20px">
    <table class="table table-striped  emp_teable" style="margin-top: 20px;">
        <thead class="thead-dark">

            <tr>
                {{!-- <th scope="col"><button type="button" class="btn btn-info">
                        <h4>+ Add New</h4>
                    </button></th> --}}
                <th scope="col">
                    <h3 style="text-align: center;">Project List</h3>
                </th>
            </tr>
        </thead>

    </table>

    <table class="table table-striped  emp_teable">

        <thead class="thead-dark">
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Enquiry</th>
                <th scope="col">Assigned emp</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>


            {{!-- <tr>

                <td>nitin</td>
                <td>9826088012</td>
                <td>colouring</td>
                <td>confirm</td>
                <td>rahul</td>
                <td>
                    <i class='bx bxs-edit'></i> &nbsp;
                    <i class='bx bxs-x-circle'></i>
                </td>

            </tr>
            <tr>

                <td>rahul</td>
                <td>9826088013</td>
                <td>design</td>
                <td>confirm</td>
                <td>jayant</td>
                <td>

                    <a href="/editEmp">
                        <i class='bx bxs-edit'></i></a>
                    </i> &nbsp;
                    <i class='bx bxs-x-circle'></i>
                </td>

            </tr>
            <tr>

                <td>sonali</td>
                <td>9826088014</td>
                <td>design</td>
                <td>confirm</td>
                <td>jayant</td>
                <td>

                    <a href="/editEmp">
                        <i class='bx bxs-edit'></i></a>
                    </i> &nbsp;
                    <i class='bx bxs-x-circle'></i>
                </td>

            </tr> --}}

            {{#each project}}
            <tr>
                <td style="text-transform: capitalize;">{{this.cust_name}}</td>
                <td>{{this.contact}}</td>
                <td style="text-transform: capitalize;">{{this.enquiry}}</td>
                <td style="text-transform: capitalize;">{{this.assign_emp}}</td>
                <td style="text-transform: capitalize;">{{this.status}}</td>
                <td>
                     
                    
                    <a href="/project/delete/{{this._id}}"
                        onclick="return confirm('Are you sure to delete this record?');">
                        <i class="fa fa-trash fa-lg" aria-hidden="true" style="color:black;">

                        </i>
                    </a>
                   
                        
                     <a href="/projectedit/{{this._id}}">
                        <i class="fa fa-edit" style="color:black;"></i>
                    </a>

                </td>
            </tr>

            {{/each}}


        </tbody>
    </table>
</div>